@page "/"

@if (_toDoItems != null && _toDoItems.Any())
{
    <div class="todos">
        @foreach (var task in _toDoItems)
        {
            <ToDoItem @key="task.Id" Item="@task" ToDoItemChanged="@RefreshAsync"></ToDoItem>
        }
    </div>
}
else
{
    <p class="info">Es sind derzeit keine Aufgaben zu erledigen.</p>
}

<MatButton class="btn-add" Raised="true" OnClick="@(e => { _dialogIsOpen = true; })">Aufgabe hinzufügen</MatButton>

<ToDoItemEditor DialogIsOpen="@_dialogIsOpen" DialogClosed="@(async (refresh) => { await CloseDialog(refresh); })"></ToDoItemEditor>