<div class="mat-elevation-z5 td-card @(Item.Status ? "checked" : "")">
    <p>@Item.Title</p>
    <div class="module fade">
        <span>@Item.Description</span>
    </div>
    <div class="actions">
        @if (!Item.Status)
        {
            <MatIconButton Icon="@MatIconNames.Done" @onclick="@(e => UpdateTaskAsync())"></MatIconButton>
        }
        <MatIconButton Icon="@MatIconNames.Delete" @onclick="@(e => DeleteTask())"></MatIconButton>
    </div>
</div>