<MatDialog @bind-IsOpen="@_dialogIsOpen">
    <MatDialogTitle>Add new Task</MatDialogTitle>
    <MatDialogContent>
        <p>What do you want to do?</p>
        <MatTextField @bind-Value="@_newTaskTitle"></MatTextField>
        <MatTextField @bind-Value="@_newTaskDescription"></MatTextField>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@Close">Cancel</MatButton>
        <MatButton OnClick="@AddNewTask">Save</MatButton>
    </MatDialogActions>
</MatDialog>